<span class="edu-item">
    <span id="edu-img-<%= i %>" class="edu-img img-loading">
        <img onload="imgOnLoad('edu-img-<%= i %>')" style="width:100%" src=<%= edu.item[i].img %> >
    </span>
    <text class="txt-large" class="edu-txt">
        <%- edu.item[i].txt %> 
    </text>
</span>