<span class="edu-item">
    <span class="edu-img">
        <img style="width:100%" src=<%= edu.item[i].img %> >
    </span>
    <text class="txt-large" class="edu-txt">
        <%- edu.item[i].txt %> 
    </text>
</span>