<span class="photo-slider">

    <% for(i in photo.links) { %> 
        <span  >
            <img id="photo-img-<%= i %>" onload="imgOnLoad('photo-img-<%= i %>')" class="img-loading photo-img" src=<%= photo.links[i] %>>
        </span> 
    <% } %> 
    <span class = "photo-browser">
        <i onclick="scrollImage(false)" class="fas fa-angle-left photo-button"></i>
            <span class="photo-locators">
                <% for(i in photo.links) { %> 
                    <i onclick="showImage(<%= i %>)" class="fas fa-circle photo-locator"></i>
                <% } %> 
            </span>
        <i onclick="scrollImage(true)" class="fas fa-angle-right photo-button"></i>
    </span>

    <script>
        var currIndex = 0;
        var images = document.getElementsByClassName("photo-img");
        var locators = document.getElementsByClassName("photo-locator");

        const showImage = (index) => {
            for(let i = 0; i < images.length;i++){
                images[i].classList.remove("photo-img-visible");
                images[i].classList.add("photo-img-hidden");
                locators[i].style.color="#495057";
            }
            images[index].classList.remove("photo-img-hidden");
            images[index].classList.add("photo-img-visible");
            locators[index].style.color="#212529";
            currIndex = index;
        }

        const scrollImage = (isRight) =>{
            isRight ? currIndex++ : currIndex--;
            if(currIndex < 0){currIndex = images.length-1};
            if(currIndex >= images.length){currIndex = 0};
            showImage(currIndex);
        }

        showImage(0);
    </script>

</span>