<link rel='stylesheet' type='text/css' href='/stylesheets/header.css'/>
<script>
    function headerLoaded(){
        document.getElementById("header-txt").classList.add("header-txt-loaded");
        document.getElementById("header-img").classList.add("header-img-loaded");
    }
</script>
<div id="header-section" class="section">
    <span id="header" class="content-container">
        <text id="header-txt" class="txt-title"><%= header.txt %></text>
        <img id="header-img" onload="headerLoaded()" src=<%= header.img %>>
    </span>
</div>