<link rel='stylesheet' type='text/css' href='/stylesheets/photo.css'/>
<div id="photo-section" class="section">
    <span id="photo" class="content-container">
        <text id="photo-txt" class="txt-title"><%= photo.title %></text>
        <%- include("partials/photo-slider") %> 
    </span>
</div>