#edu-section{
    z-index: 3;
    background-color:#495057;
    color:#F8F9FA;
}

#edu-content {
    width:100%;
}
.edu-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin: 10px 0px;
}
.edu-img{
    width:40%;
    max-width:240px;
}

.edu-txt{
    width: 40%;
}
