#edu-section{
    z-index: 3;
    background-color:#495057;
    color:#F8F9FA;
}

#edu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#edu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:720px;
    width:min(100%,720px);
    height:200px;
    height:fit-content;
    margin: 10px 0px 10px;
}
.edu-img{
    margin-right: 1%;
    width: 240px;
    width: min(40%,240px);
}
