#exp-section{
    z-index: 4;
    background-color:#ADB5BD;
    color:#212529;
}

#exp-content {
    width:100%;
}
.exp-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin: 10px 0px;
}
.exp-txt{
    width:60%;
}
.exp-img{
    max-width: 180px;
    width: 40%;
}
