#header-section{
    z-index: 1;
    background-color: #F8F9FA;
    color:#212529;
    overflow-x: hidden;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#header-txt{
    margin-right: 1%;
    opacity: 0;
}
#header-img{
    height: 47.5vmin;
    min-height:300px;
    opacity: 0;
}
.header-img-loaded{
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.header-txt-loaded{
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
