#header-section{
    z-index: 1;
    background-color: #F8F9FA;
    color:#212529;
    overflow-x: hidden;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:370px;
    height:min(50vw,370px);
}
#header-txt{
    margin-right: 1%;
    opacity: 0;
}
#header-img{
    margin-left: 1%;
    width: 270px;
    width: min(40%,270px);
    opacity: 0;
}
.header-img-loaded{
    animation: fadeInRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.header-txt-loaded{
    animation: fadeInLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}