html,body{
    margin:0;
    padding:0;
    background-color:#F8F9FA;
}

.content-container{
    width:960px;
    width:min(95%,960px);
    animation: fadeIn;
    animation-duration: 1s;
}

.section{
    width:100%;
    display: flex;
    justify-content:center;
    padding: 20px 0px 20px;
}

/*#region txt*/
.txt-title {
    font-family: 'Roboto', sans-serif;
    font-size:75px;
    font-size:min(12vw,75px);
}

.txt-large{
    font-family: 'Noto Sans', sans-serif;
    font-size:18px;
    font-size:min(4vw,18px);

}

.txt-regular{
    font-family: 'Noto Sans', sans-serif;
    font-size:14px;
    font-size:min(3vw,14px);

}

.txt-small{
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
    font-size:min(2.5vw,12px);

}

.txt-gap{
    margin:5px 0px 5px;
}

/*#endregion*/

/* #region img */
.img-loading{
    opacity: 0;
}

.img-loaded{
    opacity: 100;
    animation: fadeIn;
    animation-duration: 0.5s;
}
/* #endregion */

/*#region div-split*/
.div-split{
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.div-split-left{
    text-align: left;

}

.div-split-right{
    text-align: right;
}

/*#endregion*/

